<div class="module-content-header">
  <img src="assets/angular-icon.svg" width="100px" alt="Angular Icon" />
  <h2>Angular Remote Component</h2>
  <nav>
    <ul class="page-menu">
      <li>
        <a routerLink="/angular-module">Home</a>
      </li>
      <li>
        <a routerLink="/angular-module/material">Material Components</a>
      </li>
      <li>
        <a href="/react-module/mui">React MUI</a>
      </li>
      <li>
        <a href="/">
          Host-Home
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="module-content">
  <router-outlet></router-outlet>
</div>
