<div class="content">
  <div class="sidebar">
    <div class="sidebar-header">
      <img src="assets/angular-icon.svg" width="100px" alt="Angular Icon" />
      <h1>Angular Host</h1>
    </div>
    <ul class="remote-menu">
      <li><a routerLink="/">Home</a></li>

      <li><a routerLink="angular-module">Angular Module</a>
        <ul>
          <li><a routerLink="/angular-module/material">Material</a></li>
        </ul>
      </li>

      <li><a routerLink="react-module">React Module</a>
        <ul>
          <li><a href="/react-module/mui">MUI</a></li>
        </ul>
      </li>

      <li><a href="/multiple">Multiple Apps</a></li>
      <li><a href="/shadow-angular-module">Shadow DOM Angular</a></li>
      <li><a href="/shadow-react-module">Shadow DOM React</a></li>
    </ul>
    <p class="user" *ngIf="user">Hello {{this.user}}!</p>
  </div>
  <div class="federated-module">
    <router-outlet></router-outlet>
  </div>
</div>
