<h2>
  Now <span class='framework-text'>React</span> every framework can use the most popular angular components library,
  Angular Material
  components!
</h2>

<section>
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
  </div>
</section>
<section>
  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</section>

<section>
  <button mat-raised-button (click)="openDialog()">Open dialog</button>
  <span *ngIf="username">
    Hello <i>{{username}}</i>!
  </span>
</section>

<section>
  <p>Child/Remote apps can access shared libraries from the Host app. Think about sharing libraries for common
    problems, like authentication, i18n, analytics, and more. In this simple example, we are sharing a library for
    Browser detection:</p>
  <span>{{browser}}</span>
</section>
