<h2>
  Now <span class='framework-text'>React</span> every framework can use the most popular angular components library, Angular Material
  components!
</h2>

<section>
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
  </div>
</section>

<section >
  <button mat-raised-button (click)="openDialog()">Open dialog</button>
</section>
